/* CSS files add styling rules to your content */

body {
    font-family: "Rock Salt", helvetica, arial, sans-serif;
    margin: 2em;
  }

h1 {
    font-family: Rock Salt;
    font-style: italic;
    color: #373fff;
}

p {
    font-family: Helvetica;
}

caption {
    padding: 5px;
    caption-side: bottom;
    text-align: right;
    font-size: 12px;
}

.collapse {
    border-collapse: collapse;
}

thead {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(leopardskin.jpg);
}

th, td {
    text-align: center;
}

td {
    font-family: helvetica;
    font-size: 12px;
    padding: 10px;
}

tfoot td {
    font-family: Rock Salt;
}
.foot1 {
    text-align: right;
    padding: 10px;
    border: 2px solid #800080;
    color: white;
}

.foot2 {
    text-align: left;
    padding: 10px;
    border: 2px solid #800080;
    color: white;
}

table, th, tfoot {
    padding: 5px;
    border: 2px solid #800080 ;
    
}

table {
    table-layout: fixed;
}

tr:nth-child(even) {
    background-color: #e495e4;
  }

  tr:nth-child(odd) {
    background-color: #ff33cc;
  }